.row1{
    display: flex;
    flex-direction: space-between;
}
.col1{
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: end;
    align-content: end;
    align-self: flex-end;
    justify-items: end;
}
